<!DOCTYPE html>
<html lang="en">
<head>
	<title>Test</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>

    <div class="container">
        <div class="content">
            <div class="content-header">
                <span>Welcome</span>
                <div class="content-header__btn">
                    <button>+</button>
                    <span>Issues</span>
                </div>
            </div>
        </div>
        <div class="add"></div>
    </div>


    <!-- <table>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Description</th>
        </tr>

        <% results.forEach((result) => { %>
            <tr>
                <td><%= result.createdAt %></td>
                <td><%= result.title %></td>
                <td><%= result.description %></td>
            </tr>
        <% }); %>
    </table> -->

	<!-- <form method="POST" action="/add">
        <div>
            <span>Title</span>
            <input type="text" name="title" />
        </div>

        <div>
            <span>Description</span>
            <input type="text" name="description" />
        </div>

        <button type="submit">Add</button>
    </form> -->
</body>
</html>